/* style the collapsing headers */
/* code from https://www.w3schools.com/howto/howto_js_collapsible.asp */

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: none;
  margin-right: 30px;
  transition: max-height 0.2s ease-out;
}