


<style>

.reveal h1 { font-size: 2.5em; }


#left {
	margin: 10px 0 15px 0;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 

}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;	
}

#left_border {
	padding: 10px;
	margin: 10px 0 15px 0;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
	border: 1px solid #000000;
          border-radius: 10px;
}

#right_border {
	padding: 10px;
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
	border: 1px solid #000000;
          border-radius: 10px;	
}

#left_border_small {
	padding: 5px;
	margin: 10px 0 15px 0;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
	border: 1px solid #000000;
          border-radius: 10px;
}

#right_border_small {
	padding: 5px;
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
	border: 1px solid #000000;
          border-radius: 10px;	
}

#center_border {
	display: inline-block;
	padding: 1em;
	justify-content: center;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
	border: 1px solid #000000;
          border-radius: 10px;	
}

#refs {
	display: inline-block;
	justify-content: left;
	text-align: left;
	z-index:-10;
	width:90%;
	font-size: small;
	line-height: 1.5;	
}

/* mouse over link */
a:hover {
  color: red;
}


:root {
  --r-background-color: #f7fbfc;
}

</style>
